body {
    font-family: sans-serif;
    position: relative;
    height: 100%;
    margin: 0;
}

#treemap{
    /*//    margin: 10%, 10%, 10%, 10%;
    position: relative;*/
    min-height: 100%;
    color: #888888;
}

.node {
    float: left;
    border: solid 1px white;
    font-size: 2vw;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
    text-align: center;
    vertical-align: middle;
}
